<strong>Olá, {{ student }} </strong>
<p>Sua dúvida foi respondida. Confira abaixo:</p>
<p>
    <strong>Sua dúvida: </strong> <br />
    <p>
        {{question}}
    </p>
    <br />
    <strong>Resposta: </strong> <br />
    <p>
        {{answer}}
    </p>
    <br />
    <small>
        Espero que tenha-mos ajudado! <br />
        Se a dúvida persistir, envie-nos outra help_order!
    </small>
</p>