<strong>Olá, {{ student }} </strong>
<p>Sua mátricula foi realizada com sucesso! Confira os detalhes abaixo:</p>
<p>
    <strong>Plano: </strong> {{plan}} <br />
    <strong>Você começa em: </strong> {{formatedDate}} <br />
    <br />
    <small>Seja bem vindo ao time!</small>
</p>